.movie-card{
width: 300px;
height: 350px;
padding: 10px;
box-shadow: 0 5px 10px rgb(199, 130, 130);
border: 2px solid teal;
border-radius: 10px;
margin-bottom: 10px;
}
img{
    max-width: 100%;
}
label{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}